<!DOCTYPE html>
<html>
<head>
    <title>Time pass</title>
</head>

<body>

    <h1>Main Title</h1>
    <h2>Sub Title</h2>
    <h3>Section Title</h3>

    <h3>Welcome to My Website</h3>
    <p>This is my first webpage.</p>
    <p>Python is used for web development.Flask is a lightweight framework.</p>
    <p>This training covers frontend and backend.</p>

    <a href="https://google.com">Open Google</a>

    <img src="https://cdn.pixabay.com/photo/2024/08/03/14/46/ai-generated-8942333_1280.jpg" height="400" width="400" alt="sample image">


</body>
</html>


