<!DOCTYPE html>
<html>

<head>
<title>Company Website</title>

</head>

<body>

<h1>ABC Technologies</h1>
<h1 style="color:greenyellow;">Hello World</h1>
<h2 style="background-color:yellow;">Welcome</h2>
<p style="font-size:20px;">Large Text</p>
<h1 style="text-align:center;">Centered Heading</h1>


<style>
    body{
    background-color:lightgray;
    }
    </style>


<h2>Our Training</h2>

<style>
    p{
    color:blue;
    }
    </style>

<p>We provide Python Full Stack Training.</p>

<p>This Training inclues :
<ul style="color: green;">

    <li>PYTHON</li>
    <li>ADVANCE PYTHON</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>JAVASCRIPT</li>
    <li>FLASK</li>
    <li>DJANGO</li>
    <li>SQL</li>

</ul>   
</p>


<form>

    Name:
    <input type="text">
    
    <br><br>
    
    Email:
    <input type="email">
    
    <br><br>
    
    Password:
    <input type="password">

</form>
<input type="submit" value="Login">

<a href="https://google.com">Learn More</a>

<br><br>

<img src="https://via.placeholder.com/200">


<h2>Team Members</h2>
<table border="1">

    <tr>
    <td>Name</td>
    <td>Role</td>
    </tr>
    
    <tr>
    <td>Sai</td>
    <td>Trainer</td>
    </tr>

    <tr>
    <td>Sumanth</td>
    <td>Developer</td>
    </tr>

    
</table>
<h2>Services</h2>
    
<ul>
<li>Web Development</li>
<li>Python Development</li>
<li>Cloud Solutions</li>
</ul>

<button onclick="showMessage()">
    Click Me
    </button>
    
    <script>
    
    function showMessage(){
    alert("get out of my motherland");
    }
    
    </script>

</body>

</html>













