<html>
<body>

    <head>
        <title>My Website</title>
    </head>
    
<h1>Welcome Employees</h1>
<h1>Get ready for Python fullstack Training program.</h1>

<h2>Welcome Employees</h2>
<h2>Get ready for Python fullstack Training program.</h2>

<h3>Welcome Employees</h3>
<h3>Get ready for Python fullstack Training program.</h3>

<h4>Welcome Employees</h4>
<h4>Get ready for Python fullstack Training program.</h4>

<h5>Welcome Employees</h5>
<h5>Get ready for Python fullstack Training program.</h5>

<h6>Welcome Employees</h6>
<h6>Get ready for Python fullstack Training program.</h6>

</body>
</html>

<html>

<head>

<style>

body{
background-color:rgb(159, 149, 149);
}

h1{
color:blue;
}

p{
font-size:18px;
}

</style>

</head>

<body>

<h1>Company Website</h1>

<p>Welcome to our company</p>

</body>

</html>